@font-face {
  font-family: "kepler-std-semicondensed-dis";
  src: url("kepler.woff2") format("woff2"), url("keppler.woff") format("woff"),
    url("keppler.otf") format("opentype");
  font-display: auto;
  font-style: normal;
  font-weight: 700;
  font-stretch: normal;
}
